body {
    overflow: hidden;
    margin: 0px;
    touch-action: none;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

#info {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    max-height: calc(100vh - 20px);
    width: 35vw;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0px 16px;
    box-sizing: border-box;
    overflow: auto;
    scrollbar-color: #b0b0b0 transparent;
}

#info>p {
    font-family: Arial, sans-serif;
    padding: 5px;
}
