html, body {
    background-color: black;
    color: white;
    margin: 0px;
}

.fullscreen {
    width: 100vw;
    min-height: 100vh;
}

.big-margin {
    margin: 50px;
}
.medium-margin {
    margin: 25px;
}
.small-margin {
    margin: 15px;
}

.title {
    font-size: 300%;
}
.big-text {
    font-size: 200%;
}
.small-text {
    font-size: 85%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input.large-checkbox[type="checkbox"] {
    zoom: 2.5;
    margin: 5px;
}
