html, body {
    background-color: black;
    color: white;
    margin: 0px;
}

#configuration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.option-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.option-title {
    font-size: 300%;
}
.option-description {
    font-size: 75%;
}
.option-input {
    margin-top: 20px;
}

#start-button {
    font-size: 200%;
    margin: 50px;
}
