body {
    overflow: hidden;
    margin: 0px;
    background-color: black;
}

canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
}

#pendulum-canvas {
    z-index: -1;
}
